.plans li:before{content:"Included";display:inline-block;color:#14754d;margin-right:8px;font-weight:700;font-size:10px}.brand span{font-size:13px!important;font-weight:800;letter-spacing:0;background:#dff5e6;border-radius:5px;padding:4px 5px;vertical-align:1px}footer p a{color:#d4e2d8;font-weight:700}

